.items {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170pt);
    float: right;

    h2 {
        font-family: Roboto;
        color:
        #717171;
        font-size: 18pt;/* Approximation due to font substitution */
        font-weight: 900;
        font-style: italic;
        margin-left: 22pt;
        margin-top: 18pt;
    }
}

.item {
    display: inline-block;
    margin: auto;
    width: 100%;
    min-width: 268px;
    max-width: 268px;
    height: 240pt;
    background-color: white;
    position: relative;
    @include box-sizing(border-box);
    padding: 20px;
    padding-top: 12px;

    .new {
        position: absolute;
        top: 0px;
        right: 0px;
        background-image: url("../images/new.png");
        height: 34.5pt;
        width: 34.5pt;
        z-index: 1000;
        font-size: 8pt;
        color: white;
        @include box-sizing(border-box);
        padding: 4pt;
        padding-left: 13pt;
    }

    .hot {
        @extend .new;
        background-image: url("../images/hot.png");
        color: black;
    }

    .item-image {
        width: 100%;
        height: auto;
    }

    .item-info {
        @include box-sizing(border-box);
        width: 100%;
        padding: 5pt;
        margin-top: 15pt;
        position: relative;
        .item-name {
            font-family: Roboto;
            color: #333333;
            font-size: 11pt;/* Approximation due to font substitution */
            font-weight: 900;
            font-style: italic;
            position: absolute;
            top: 0;
            left: 0;
            width: 61%;
        }

        .item-price {
            float: right;
            font-weight: 700;
            font-size: 10pt;
            font-family: Roboto;

            p {
                font-weight: 700;
                font-size: 10pt;
                font-family: Roboto;
            }

            .reduced {
                font-family: Roboto;
                color: rgba(254, 0, 0, 0.6);
                font-size: 10pt;
                font-weight: 900;
                font-style: italic;
                text-decoration: line-through;
            }
        }
    }

}

@media screen and (max-width:768px) {
    .items {
        margin-top: 50pt !important;
        text-align: center !important;
        float: none;
    }

    .item {
        margin-bottom: 20pt;
    }

}

@media screen and (min-width:769px) {
    .item {
        margin-left: 22pt;
        margin-top: 10pt;
    }
}

