.menu {
    display: inline-block;
    width: 170pt;
    float: left;

    #surfer {
        width: 100%;
        height: auto;
        margin-top: 20pt;
    }

    .light {
        margin-top: 20pt;
        li {
            background-color: #9eeafd;
        }
    }

    ul {
        width: 100%;
        list-style: none;

        .head {
            background-color: #333333 !important;
            padding: 20px;
            padding-left: 36px;
            color: white;
            font-weight: 700;
            font-size: 10pt;
            @include box-sizing(border-box);
        }

        li {
            background-color: #26d2fc;
            color: black;
            padding: 13px;
            padding-left: 36px;
            font-size: 10pt;
            font-weight: 700;
        }

        li:hover {
            background-color: #333333;
            color: white;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:768px) {
    .menu {
        display: none;
    }
}
