header * {
    vertical-align: top;
}

#head-mobile {
    display: none;
}

.yellow-box {
    background-color: #fff51f;
    width: 100%;
    color: #333333;
    font-size: 20pt;
    font-weight: 700;
    margin-top: 40pt;
    @include box-sizing(border-box);
    padding: 20px;

    h1 {
        font-size: 20pt;
    }
    p {
        font-size: 12pt;
    }
}

header {
    height: 100vh;
    background-image: url("../images/surfer.png");
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 20px;

    #head-left {
        display: inline-block;
        width: 20%;
        height: 90%;
        min-width: 230px;
        max-width: 230px;
        margin-right: 5%;
        margin-bottom: 50px;

        #logo {
            width: 100%;
            min-height: 50px;
        }

        #cart {
            margin-top: 40px;
            .top-button {
                background-color: white;
                color: red;
                padding-top: 3px;
                width: 50%;
                display: inline-block;
                font-size: 10pt;
                text-align: center;
                padding-top: 5pt;
                padding-bottom: 5pt;
            }

            #items {
                height: 75px;
                background-color: #fb4d01;
                position: relative;

                img {
                    position: absolute;
                    top: 13px;
                    left: 20px;
                }

                #price {
                    position: absolute;
                    top: 8px;
                    left: 70px;
                    font-size: 20pt;
                    color: white;
                }

                #quantity {
                    position: absolute;
                    top: 36px;
                    left: 70px;
                    font-size: 10pt;
                    color: #faef03;
                }

                #x {
                    position: absolute;
                    left: 190px;
                    top: 10px;
                    color: #faef03;
                    font-size: 20pt;
                }

                #edit {
                    position: absolute;
                    left: 185px;
                    top: 40px;
                    font-size: 10pt;
                    color: #333333;
                }
            }

            .bottom-button {
                @extend .top-button;
                background-color: #ee4a02;
                color: white;
                font-size: 9pt;
            }

            #second {
                background-color: #e24602;
            }

            #search-box * {
                display: inline-block;
            }

            #search-box {
                white-space: nowrap;
                input {
                    background-color: #e9e9e9;
                    border: none;
                    width: 83%;
                    height: 23pt;
                    display: inline-block;
                    padding: 8px;
                    color: black;
                }

                div {
                    position: relative;
                    width: 17%;
                    height: 23pt;
                    background-color: #333333;
                    img {
                        position: absolute;
                        height: 50%;
                        width: auto;
                        top: 25%;
                        left: 30%;
                    }
                }
            }
        }

    }

    #head-right {
        display: inline-block;
        width: 73%;
        height: 90%;
    }

}

@media screen and (max-width:768px) {

    #head-mobile {
        display: unset;
    }

    #head-mobile .container {

        #ham-logo {
            margin: auto;
            width: 100%;
            height: 50px;
            position: relative;

            #hamburger {
                position: absolute;
                top: 12pt;
                left:0px;
            }

            #mobile-logo {
                position: absolute;
                top: 0px;
                right: 0%;
            }
        }

        #buttons {
            padding-top: 10pt;
            float: right;

            .h-button {
                position: relative;
                display: inline-block;
                height: 25.5pt;
                width: 25.5pt;
            }

            #search {
                @extend .h-button;
                background-color: #333333;
            }

            #cart {
                @extend .h-button;
                background-color: #ee4a02;
            }

            #cart img, #search img {
                position: absolute;
                height: 50%;
                width: auto;
                top: 25%;
                left: 20%;
            }
        }

        #blue-box {
            background-color: #26d2fc;
            margin-top: 10pt;
            height: 180pt;
            padding: 10px;
            @include box-sizing(border-box);

            ul {
                list-style: none;
                width: 90%;
                margin: auto;
                li * {
                    font-weight: 700;
                }
                li .plus {
                    float: right;
                }
            }
        }
    }

    #head-left, #head-right {
        display: none !important;
    } 
}
