* {
    padding: 0px;
    margin: 0px;
    font-family: "Raleway";
    font-weight: 400;
}

.content {
    width: 84%;
    margin: auto;
}

.gray {
    background-color: #f8f8f8;
}

.content-main {
    margin-left: 8%;
    width: 89%;
}

.spacer {
    height: 40pt;
    width: 1pt;
}

.h-space {
    margin-left: 7pt;
    margin-right: 7pt;
}

.clearfix {
    clear: both;
}

.strong {
    font-weight: 900;
}

.left {
    text-align: left;
    color: #333333;
}

@import "colours";
@import "mixins";
@import "navbar";
@import "items";
@import "menu";
@import "social";
@import "footer";
@import "categories";
@import "product-listing";
@import "product-detail";
